@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Vendor CSS Files -->
<link href="~/Arsha/Arsha/assets/vendor/aos/aos.css" rel="stylesheet">
<link href="~/Arsha/Arsha/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="~/Arsha/Arsha/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="~/Arsha/Arsha/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="~/Arsha/Arsha/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="~/Arsha/Arsha/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="~/Arsha/Arsha/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="~/Arsha/Arsha/assets/css/style.css" rel="stylesheet">


<!--Slider start -->
<div class="splitview skewed">
    <div class="panel bottom">
        <div class="handle"></div>
        <div class="content">
            <img src="~/bilsoft-premium-main/assets/img/banner1 premium.jpg" alt="ucretsiz efatura" title="Ömür Boyu Lisans">

            <p class="item-1">
                BASİT ARAYÜZÜ SAYESİNDE KOLAY KULLANILABİLEN, İŞLEM GEREKTİRMEYEN ÖN MUHASEBE PROGRAMIDIR.
            </p>
            <p class="item-2">
                PROGRAM İÇERİSİNDE BİRDEN FAZLA ÇOKLU KULLANIM SAĞLANABİLİR.
            </p>
            <p class="item-3">
                PREMIUM ÖN MUHASEBE PROGRAMI ÖZEL LİSANSLAMA İŞLEMİYLE FİRMANIZA ÖMÜR BOYU LİSANSLANIR
            </p>
        </div>
    </div>
    <div class="panel top">
        <div class="content">
            <img src="~/bilsoft-premium-main/assets/img/banner2 premium.jpg" alt="efatura" title="Kobiler için en iyisi">

        </div>
    </div>
</div>
<!--Slider end -->
<!-- ======= Get Started Section ======= -->
<section id="get-started" class="padd-section text-center">

    <div class="container" data-aos="fade-up">
        <div class="section-title text-center">
            <p class="separator"></p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="feature-block">
                    <img src="~/bilsoft-premium-main/assets/img/omurboyu.png" alt="onmuhasebe">
                    <br><br>
                    <h4>ömür boyu lisans</h4>
                    <p>
                        Paketiniz bir bilgisayara kurulur ve aktive ettiğiniz tarihten itibaren programı tek kullanıcı
                        hiçbir sınırlama olmadan ömür boyu kullanma hakkına sahip olur.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="feature-block">
                    <img src="~/bilsoft-premium-main/assets/img/kolaykullanim.png" alt="eticaret">
                    <br><br>
                    <h4>kolay kullanım</h4>
                    <p>Rahat tasarımı ve ayırt edici özellikleriyle kullanıcı dostu arayüz sayesinde, çok fazla işlem karmaşası gerektirmeyen bir ön muhasebe programıdır.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="feature-block">
                    <img src="~/bilsoft-premium-main/assets/img/vipdestek.png" alt="etahsilat">
                    <br><br>
                    <h4>VIP teknik destek</h4>
                    <p>
                        VIP teknik destek paketi, Bilsoft ticari yazılım programları kullanıcılarına özel tahsis edilen
                        personeller ile ihtiyaç anında doğrudan iletişime geçerek öncelikli hizmet sağlar.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Get Started Section -->
<!-- ======= About Us Section ======= -->
<section id="about-us" class="about-us">
    <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">

            <div class="col-md-9 " style="left: 15%;">
                <img src="~/bilsoft-premium-main/assets/img/pc görsel.png" alt="hizli satis" data-aos="zoom-in" data-aos-delay="100">
            </div>

            <div class="col-md-4 col-lg-6">
                <div class="about-content" data-aos="fade-left" data-aos-delay="100">

                    <h2 style="text-align: left; font-size: 30px;">BILSOFT PREMIUM ÖN MUHASEBE PROGRAMI</h2>
                    <h3 style="text-align: left;">
                        Müşterilerinize hızlı satış yapmanızı sağlayan Cari Takip Programı işyerinize
                        hız ve performans kazandırır.
                    </h3><br>
                    <p style="font-size: 14.4px">
                        Barkod desteği ile firmanızda en hızlı şekilde işlemlerin yapılmasını sağlar.
                        Cari Takip Programı ile kasa defterinden kurtulacak, müşterilerinize ait alacak verecek durumunu anında
                        görüntüleyebileceksiniz. Program ile Hızlı Satış yapabilir, ürünlerinizin ve müşterinizin ayrıntılı
                        bilgilerini saklayabilir, ürünlerinizin stoklarını tutabilir ve bu bilgileri anında görüntüleyebilirsiniz.
                        Online Ön Muhasebe Programında tüm işlemler en basit hale indirgendiğinden 7' den 70' e herkes zorlanmadan
                        çok rahat kullanabilir. Online Ön Muhasebe programı küçük ve orta ölçekli, satış işlemi yapan tüm
                        işletmelerde rahatlıkla kullanılabilir. Online Muhasebe Programı kullanıcıları e-Fatura modülü için ek
                        ücret ödemeleri gerekmez. Programda dilediğiniz kadar şube açarak bu şubeler ile ilgili detay raporları
                        alabilirsiniz. Her şubeye ayrı ayrı kullanıcı ve yetki tanımlaması yapabilirsiniz.
                    <p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Us Section -->
<!-- ======= Features Section ======= -->
<section id="features" class="padd-section text-center">
    <div class="container" data-aos="fade-up">
        <div class="section-title text-center">
            <h2 style="text-align: center">Ön Muhasebe Programı Özellikleri</h2>
        </div>
        <section id="services" class="services text-center">
            <div class="container" data-aos="fade-up" style="margin-top: 50px">

                <div class="row gy-4">
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="service-box blue">
                            <img src="~/bilsoft-premium-main/assets/img/ek-ikon/efaturaprog.png" class="efaturapng"></img>
                            <h3>E-Fatura Programı</h3>
                            <br><ul>
                                <li><i class="fa fa-check"></i> Muhasebe sisteminiz ile entegre edebilirsiniz, çevre dostudur.</li>
                                <li><i class="fa fa-check"></i> Maliyetiniz azalır, faturalarınız dijital ortamda arşivlenir.</li>
                                <li><i class="fa fa-check"></i> Tahsilatlarınızı hızlandırırsınız. İstediğiniz zaman eski faturalarınıza rahatlıkla ulaşabilirsiniz.</li>
                            </ul><a href="/Home/Ozellikler/#efaturaprog" target="_blank" class="read-more">
                                <span>Daha Fazla</span> <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="service-box orange">
                            <img src="~/bilsoft-premium-main/assets/img/ek-ikon/hizlisatisprog.png" class="hızlısatıspng"></img>
                            <h3>Hızlı Satış Programı</h3>
                            <br>
                            <p>
                                Bilsoft Hızlı Satış Programı, Ön Muhasebe ile entegre çalışan yazılım sizlere avantaj sağlayacak. Bu
                                çalışma sisteminde tüm stok, kasa giriş-çıkışlarınızı otomatik olarak takip edin ve kayıpları azaltın.
                                Basit arayüz ile sizlere hız kazandıracak olan Hızlı Satış Programı ile iş sürecinizi kolaylaştırın.
                            </p>
                            <a href="/Home/Ozellikler/#hizlisatisprog" target="_blank" title="Devamı" class="read-more">
                                <span>Daha Fazla</span> <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="service-box green">
                            <img src="~/bilsoft-premium-main/assets/img/ek-ikon/barcodelist.png" class="barcodepng"></img>
                            <h3>Barkod Listeleri</h3>
                            <br>
                            <p>
                                Programda market ve kırtasiye listeleri kuruludur ve barkod bilgisi vardır. Kategoriler isteğe göre güncellenebilir.
                                Diğer kategori işletmelerde alış ve satış işlemlerinde ürün etiket ve fiyatları güncelleme hizmeti pakete dahildir.
                            </p>

                            <a href="/Home/Ozellikler/#barcodelist" target="_blank" title="barkod" class="read-more">
                                <span>Daha Fazla</span> <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400" id="service_box">
                        <div class="service-box red">
                            <img src="~/bilsoft-premium-main/assets/img/ek-ikon/otomatikyedeklememod.png" class="otomatikyedeklemepng"></img>
                            <h3>Otomatik Yedekleme Modülü</h3>
                            <br>
                            <p>
                                Bilsoft Cari Hesap Programı kullanıcılarının istekleri doğrultusunda hazırlanmış olan
                                bu program sayesinde artık verilerinizin kaybolmasından korkmanıza gerek kalmayacak.
                            </p>

                            <a href="/Home/Ozellikler/#otomatikyedeklememod" target="_blank" title="otomatik yedekleme" class="read-more">
                                <span>
                                    Daha Fazla
                                </span><i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500" id="service_box">
                        <div class="service-box purple">
                            <img src="~/bilsoft-premium-main/assets/img/ek-ikon/stokriskmod.png" class="stokriskpng"></img>
                            <h3>Stok Risk Limit Modülü</h3>
                            <br>
                            <p>
                                Bilsoft Cari Hesap Programı kullanıcılarının istekleri doğrultusunda hazırlanmış
                                olan bu program sayesinde artık stoklarınıza risk limiti belirtebileceksiniz.
                            </p>
                            <a href="/Home/Ozellikler/#stokriskmod" target="_blank" title="stok risk limiti" class="read-more">
                                <span>Daha Fazla</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700" id="service_box">
                        <div class="service-box red">
                            <img src="~/bilsoft-premium-main/assets/img/ek-ikon/etahsilatsis.png" class="etahsilatpng"></img>
                            <h3>E-Tahsilat Sistemi</h3><br>
                            <ul>
                                <li> <i class="fa fa-check"></i> Her an her yerden e-tahsilat sistemiyle güvenli ödeme kolaylığı.</li>
                                <li> <i class="fa fa-check"></i> Yabancı kart ve para birimleri tahsilatı</li>
                                <li> <i class="fa fa-check"></i> Kolay iade ve iptal işlemleri kontrolü</li>
                            </ul>
                            <a href="/Home/Ozellikler/#etahsilatsis" target="_blank" title="etahsilat" class="read-more">
                                <span>Daha Fazla</span> <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="800" id="service_box">
                        <div class="service-box purple">
                            <img src="~/bilsoft-premium-main/assets/img/ek-ikon/teklifsiparismod.png" class="teklifsiparispng"></img>
                            <h3>Teklif-Sipariş Modülü</h3><br>
                            <p>
                                Modül sayesinde farklı teklifler oluşturabilir, bu teklifleri kayıt altında tutarak en uygun
                                teklifinizi siparişe döndürebilirsiniz.
                            </p>
                            <a href="/Home/Ozellikler/#teklifsiparismod" target="_blank" title="teklif-sipariş" class="read-more">
                                <span>Daha Fazla</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="900" id="service_box">
                        <div class="service-box blue">
                            <img src="~/bilsoft-premium-main/assets/img/ek-ikon/personeltakipprog.png" class="personalpng"></img>
                            <h3>Personel Takip Programı</h3><br>
                            <ul>
                                <li><i class="fa fa-check"></i> Resimli Personel Ekleme</li>
                                <li><i class="fa fa-check"></i> Özel Dosya Tayin Etme</li>
                                <li><i class="fa fa-check"></i> Kişisel Not Ekleme</li>
                                <li><i class="fa fa-check"></i> Personel İzin Yönetimi</li>
                            </ul>
                            <a href="/Home/Ozellikler/#personeltakipprog" target="_blank" title="personel takip" class="read-more">
                                <span>Daha Fazla</span><i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600" id="service_box">
                        <div class="service-box orange">
                            <img src="~/bilsoft-premium-main/assets/img/ek-ikon/vadetakipmod.png" class="vadepng"></img>
                            <h3>Vade Takip Modülü</h3><br />
                            <ul>
                                <li> <i class="fa fa-check"></i> Çek/Senet takibi,</li>
                                <li> <i class="fa fa-check"></i> Cari hesap takibi,</li>
                                <li> <i class="fa fa-check"></i> Taksit takibi gibi bir çok işlemi içermektedir.</li>
                            </ul>

                            <a href="/Home/Ozellikler/#vadetakipmod" target="_blank" title="vade takip" class="read-more">
                                <span>Daha Fazla</span> <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br> <br> <br> <br> <br> <br>
        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-md-4 col-lg-4">
                <div class="feature-block">
                    <img src="~/bilsoft-premium-main/assets/img/kasa-banka.png" title="Kasa-Banka Takibi" alt="banka takibi" style="width: 17%">
                    <br><br>
                    <h4>Kasa-Banka Takibi</h4>
                    <p>
                        Kasadan bankaya virman yapabilme, iki tarih arası detaylı raporlama, banka hareket girişi yapabilme,
                        bankdan bankaya veya bankadan kasaya virman yapabilme ve dahasını kapsayan bir modüldür.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-lg-4">
                <div class="feature-block">

                    <img src="~/bilsoft-premium-main/assets/img/excel-veri-aktarim.png" title="Excel Veri Aktarımı" alt="excel veri aktarim" style="width: 17%">
                    <br><br>
                    <h4>Excel Veri Aktarımı</h4>
                    <p>
                        Bilsoft Cari Hesap Programı, Excel Yedekleme Yardımcısı sayesinde kullanmakta
                        olduğunuz veritabını excel dökümanı halinde dışarı aktarabilir, aynı zamanda elinizdeki uygun formatlı
                        excel dosyalarını programınızın veritabanına dahil edebilirsiniz.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-lg-4">
                <div class="feature-block">
                    <img src="~/bilsoft-premium-main/assets/img/stok-sayim.png" title="Stok Sayımı" alt="stok sayim" style="width: 17%">
                    <br><br>
                    <h4>Stok Sayımı</h4>
                    <p>
                        Bilsoft Cari Hesap Programı kullanıcılarının istekleri doğrultusunda hazırlanmış
                        olan bu program sayesinde artık stok sayım işlemi çok kısa sürede ve güvenli olarak yapabileceksiniz.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-lg-4">
                <div class="feature-block">
                    <img src="~/bilsoft-premium-main/assets/img/faturada-doviz.png" title="Faturada Döviz İşlemi" alt="etahsilat" style="width: 17%">
                    <br><br>
                    <h4>Faturada Döviz İşlemi</h4>
                    <p>
                        Bilsoft ön muhasebe programlarına entegre olarak çalışan Dolar, Euro ve TL olarak
                        fatura basan işletmeler için büyük bir kolaylık sağlayan modüldür.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-lg-4">
                <div class="feature-block text-center">
                    <img src="~/bilsoft-premium-main/assets/img/eticaret.png" title="eticaret" alt="eticaret" style="width: 17%">
                    <br><br>
                    <h4>E-Ticaret</h4>
                    <p>
                        Bilsoft N11 entegratörü aracılığı ile N11 üzerinden gelen siparişlerinizi ön muhasebe programınıza
                        aktarma, faturalandırılma ve güncellenme işlemlerini otomatik olarak gerçekleştirebilir, işlerinizi pratik
                        bir şekilde halledebilirsiniz.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-lg-4">
                <div class="feature-block text-center">
                    <img src="~/bilsoft-premium-main/assets/img/personel-stok.png" title="Stok-Cari Takibi" alt="cari takip" style="width: 17%">
                    <br><br>
                    <h4>Stok-Cari Takip</h4>
                    <p>
                        Stok için sınısız depo tanımlama, toplu stok raporu ve stok hareketleri raporunu alabilme, depo
                        hareketleri raporunu alabilme; Cari için sınırsız cari hesap kartı tanımlama, cariye stoklu-stoksuz
                        satış, cariyi borçlandırma ve alacaklandırma işlemleri vb. işlemlerini içerir.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Features Section -->
<!-- ======= Pricing Section ======= -->
<section id="pricing" class="section text-cente">
    <div class="container" data-aos="fade-up">
        <div class="section-title text-center">
            <h2>Kampanyalar</h2>
        </div>
        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="container" id="pricing-box">
                <div class="col-md-6 ">
                    <div class="block-pricing">
                        <div class="table">
                            <img src="~/bilsoft-premium-main/assets/img/plus.png" alt="onmuhasebe" />
                            <div class="table_btn">
                                <a href="https://bilsoft.net/uye_giris.aspx?ReturnUrl=%2fodeme.aspx%3ftutar%3d3250%26aciklama%3d%25D6N%2520MUHASEBE%2520PROGRAMI%2520PREMIUM%2520FULL%2520PAKET"
                                   target="_blank" class="btn" title="Satın Al"><i class="fa fa-shopping-cart"></i>SATIN AL</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" id="pricing-box">
                <div class="col-md-6">
                    <div class="block-pricing">
                        <div class="table">
                            <img src="~/bilsoft-premium-main/assets/img/mega.png" alt="onmuhasebe" />
                            <div class="table_btn">
                                <a href="https://bilsoft.net/uye_giris.aspx?ReturnUrl=%2fodeme.aspx%3ftutar%3d3250%26aciklama%3d%25D6N%2520MUHASEBE%2520PROGRAMI%2520PREMIUM%2520FULL%2520PAKET"
                                   target="_blank" class="btn" title="Satın Al"><i class="fa fa-shopping-cart"></i>SATIN AL</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section><!-- End Pricing Section -->
<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="padd-section text-center">
    <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="testimonials-content">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <div class="top-top">
                                    <h2>Müşteri Yorumları</h2>
                                    <p>
                                        Personelleriniz sistem ile ilgili son derece hızlı hizmet vermektedir. Bu sayede işlemlerimizi
                                        aksamadan gerçekleştiriyoruz. Programı kullanım aşamasında bilgi almak isteyen firmalara bu konuda referans olabilirim.
                                    </p>
                                    <h4>FATİH YAPI</h4>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="top-top">
                                    <h2>Müşteri Yorumları</h2>
                                    <p>Arkadaşlarınız çok ilgili. İstediğim zaman ulaşabiliyorum ve hiç sıkıntı yaşamıyorum.</p>
                                    <h4>TOPLU TÜKETİM AMBALAJ</h4>
                                </div>
                            </div>

                            <div class="carousel-item ">
                                <div class="top-top">
                                    <h2>Müşteri Yorumları</h2>
                                    <p>
                                        Programınıza yeni alışıyorum ve problem yaşamadım. Satın aldıktan sonra teknik servis
                                        hizmetlerinin ulaşılabilirliği ve desteği son derece iyi. Programı sattıktan sonraki ilginizden
                                        memnunum. Daha önce başka bir program kullanıyordum fakat oradan böyle bir destek alamadım.
                                    </p>
                                    <h4>MEHMET EMİN KORKMAZ</h4>
                                </div>
                            </div>

                            <div class="carousel-item ">
                                <div class="top-top">
                                    <h2>Müşteri Yorumları</h2>
                                    <p>
                                        Program ile ilgili tüm sıkıntılarımı arkadaşlarınız çözüme kavuşturdu. Bütün görüşmelerimde
                                        sizlerden zamanında dönüş alabildim.
                                    </p>
                                    <h4>YALÇIN BİLGİ TEKNOLOJİLERİ</h4>
                                </div>
                            </div>
                            <div class="carousel-item ">
                                <div class="top-top">
                                    <h2>Müşteri Yorumları</h2>
                                    <p>
                                        Hizmetinizden çok ve aşırı gereksiz şekilde memnunum. Ne zaman sizleri arasam işlemlerim anında
                                        çözüme kavuşturuldu. Bu konuda teşekkür ederim. Bir not vermek gerekirse 10 üzerinden 10.
                                    </p>
                                    <h4>ERCAN CEL</h4>
                                </div>
                            </div>
                        </div>
                        <div class="btm-btm">
                            <ul class="list-unstyled carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Testimonials Section -->
<!-- ======= Newsletter Section ======= -->
<section id="newsletter" class="newsletter text-center">
    <div class="overlay padd-section">
    </div>
</section><!-- End Newsletter Section -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>İletişim</h2>
            <p>Size daha iyi hizmet sunabilmek için lütfen bizimle iletişime geçiniz.</p>
        </div>

        <div class="row">

            <div class="col-lg-5 d-flex align-items-stretch">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Konum:</h4>
                        <p>Düzce Üniversitesi Teknopark Orhangazi Mah. Teknopark Cad. No:1 Kat:2 Merkez/Düzce</p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>bilgi@bilsoft.com</p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Telefon:</h4>
                        <p>0212 912 24 26</p>
                    </div>

                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12062.643012076005!2d31.172284!3d40.901256!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x332d4e256b968190!2sBilsoft!5e0!3m2!1str!2str!4v1625561764933!5m2!1str!2str" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                </div>

            </div>

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="name">İsminiz</label>
                            <input type="text" name="name" class="form-control" id="name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="name">E-mail</label>
                            <input type="email" class="form-control" name="email" id="email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">Konu</label>
                        <input type="text" class="form-control" name="subject" id="subject" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Mesaj</label>
                        <textarea class="form-control" name="message" rows="10" required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Yükleniyor...</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Mesajınız gönderildi. Teşekkürler!</div>
                    </div>
                    <div class="text-center"><button type="submit">Mesaj gönder</button></div>
                </form>
            </div>

        </div>

    </div>
</section><!-- End Contact Section -->
<script src="~/Arsha/Arsha/assets/vendor/aos/aos.js"></script>
<script src="~/Arsha/Arsha/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Arsha/Arsha/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="~/Arsha/Arsha/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="~/Arsha/Arsha/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="~/Arsha/Arsha/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="~/Arsha/Arsha/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="~/Arsha/Arsha/assets/js/main.js"></script>


